{{#section 'header'}}
	<link rel="stylesheet" href="/build/css/main.min.css" type="text/css" >
{{/section}}

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="img/munique_perfil.jpg" width="200" class="img-circle" alt="">
                <div class="intro-text">
                    <span class="skills">Sherllon Alves</span>
                    <p class="text-center">Java UI Developer and sports addict</p>
                </div>
            </div>
        </div>
    </div>
</header>

