{{#section 'header'}}
	<link rel="stylesheet" href="/build/css/main.min.css" type="text/css" >
{{/section}}

<div id="main">
	<div id="title">{{title}}</div>
	<div>
		<ul>
			<li><a>Link 1</a></li>
			<li class="link"><a>Link 2</a></li>
		</ul>
	</div>
</div>

